@model IEnumerable<DailyBlogger.Models.BlogPost>  

@{
    Layout = null;
}

<!doctype html>

<html>
    <head>
        <meta name="viewport" content="width = device-width"/>
        <title>
            Blog Post
        </title>
    </head>
    
    <body>
        
        @foreach (var item in Model)
        {
            <div>
                @Html.DisplayFor(m => item.blogTitle)
                <p>
                    @Html.DisplayFor(m => item.content)
                </p>
                <p>
                    @Html.DisplayFor(m => item.blogDate)
                </p>
            </div>
        }
    </body>
</html>