@{
    ViewData["Title"] = "About";
    string myText = "This is a string.";
    string[] myArray = { "A", "B", "C", "D", "E", "F", "G" };
    int[] mySecondArray = { 1, 2, 3, 4, 5, 6, 7 };

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    @myText

    <ul>
        @foreach (var item in myArray)
        {
            <li>
                @item
            </li>
        }
    </ul>
</p>
<table>
    @foreach (var column in myArray)
    {
        <tr>
            <td style="border: solid black", width="20px">@column</td>
            @foreach (var row in mySecondArray)
            {
                <td style="border: solid black", width="20px">
                    @if (column == "A") { @row}
                    else
                    {

                    }
                </td>
            }
        </tr>
    }
</table>